* {
  /* border: 1px solid red; */
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f6f2;
}

.btn {
  margin: 2px;
}

.btn:hover,
.btn:focus,
.btn:active {
  filter: brightness(1.2);
  box-shadow: 0px 0px 0px black;
}

.lastChoiceOtherPlayer:disabled {
  background-color: #000000;
}

.die {
  width: 55px;
  height: 55px;
  border-radius: 8px;
  margin: 4px;
  margin-left: 4px;
  margin-right: 4px;

  box-shadow: 0px 0px 2px black, 1px 1px 1px black, 2px 2px 2px black,
    3px 3px 1px black;
  border: 1px solid black;
}

.diceRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diceContainer {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dot {
  stroke-width: 2px;
  stroke: black;
}

.possibilitiesWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mountain {
  font-family: arial, sans-serif;
  padding: 0px;
  font-size: 16pt;
  margin: 0px !important;
  width: auto !important;
}

.mountainCol {
  padding: 0px !important;
  text-align: center;
  /* border: 1px solid green !important; */
}

.mountainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diceBoard {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quitMatchContainer {
  text-align: right;
  margin: 10px;
}

.scoreBoardContainer {
  width: 220px;
}

/* TODO rename those are stars (points) not players */
.scoreBoardPlayer {
  /* text-shadow: 2px 2px 3px black; */
  /* text-shadow: 1px 1px 2px #00000088, 1px 1px 1px #00000088; */
  font-size: 15pt;
  width: 20px;
}

.scoreBoard td {
  padding: 0px;
  margin: 0px;
}

.scoreBoardPlayerNameContainer {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2px;
}

.scoreBoardPlayerName {
  width: 130px;
  font-size: 10pt;
  border-radius: 9px;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  border: 2px solid transparent;
}

.scoreBoardPlayerNameCurrent {
  border: 2px solid black !important;
  filter: brightness(1.1);
}

.mountainCell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 30px;
  min-height: 30px;
  max-width: 39px;
  min-width: 39px;
}

.climber {
  height: 17px;
  width: 17px;
  box-shadow: 0px 0px 4px -1px black, 1px 2px 3px 0px black;
  margin-right: -5px;
  margin-left: -5px;
  z-index: 999;
  opacity: 1;
  border-width: 0px !important;

  border-radius: 12px;
}

.climberCurrent {
  height: 16px;
  width: 16px;
  background-color: black;
  box-shadow: 0px 0px 1px 1px black, 1px 3px 4px 0px black;
  border-width: 2px !important;
  border-style: solid;
}

.climberGroup {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -30px;

  max-height: 30px;
  min-height: 30px;
  max-width: 39px;
  min-width: 39px;
}

.climberPlaceholder {
  font-weight: bold;
  border-radius: 999px;
  background-color: #555555;
  width: 3px;
  height: 3px;
}

.climberPlaceholderBlocked {
  border: 0px;
  width: 15px;
  height: 15px;
}

.climberPlaceholderWrap,
.colNumbersWrap {
  max-height: 30px;
  min-height: 30px;
  max-width: 39px;
  min-width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.climberPlaceholderParity0 {
  background-color: #555555;
}

.climberPlaceholderParity1 {
  background-color: #222222;
}

.colNumbers {
  width: 32px;
  height: 22px;
  font-size: 11pt;
  color: white;
}

.colParity0 {
  background-color: #555555;
}

.colParity1 {
  background-color: #222222;
}

.info {
  font-size: 20pt;
  height: 50px;
  width: 100%;
  padding-top: 3px;
  border-width: 3px;
}

.clients {
  display: flex;
}

.cantStopBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upperSection {
  display: flex;
  width: 100%;
  height: 140px;
}

.upperLeft {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upperRight {
  flex: 1;
  display: flex;
  align-items: center;
}

.upperCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameSetupPlayer {
  width: 400px;
  border: 2px;
  border-radius: 10px;

  padding: 5px;
  padding-left: 15px;
  margin-bottom: 10px;

  box-shadow: 1px 1px 2px black;
}

.gameSetupPlayerName {
  font-size: 20pt;
}

.gameSetupPlayerFree {
  background-color: white;
  border: 2px dotted grey;
  opacity: 0.5;
  color: grey;
  text-align: center;
  box-shadow: 0 0 0 white;
}

.gameSetupPlayerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameSetup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.matchIdContainer {
  align-self: flex-start;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  font-size: 12pt;
  font-weight: bold;
}

.playAgainContainer {
  align-self: flex-end;
}

.matchId {
  font-family: courier new;
  font-size: 12pt;
}

.color0 {
  color: #d55e00;
}

.color1 {
  color: #0072b2;
}

.color2 {
  color: #009e73;
}

.color3 {
  color: #f0e442;
}

.color4 {
  color: #cc79a7;
}

.bgcolor0,
.bgcolor0:hover {
  color: white;
  background-color: #d55e00;
}

.bgcolor1,
.bgcolor1:hover {
  color: white;
  background-color: #0072b2;
}

.bgcolor2,
.bgcolor2:hover {
  color: white;
  background-color: #009e73;
}

.bgcolor3,
.bgcolor3:hover {
  background-color: #f0e442;
  color: black;
  border: 1px solid black;
}

.bgcolor4,
.bgcolor4:hover {
  color: white;
  background-color: #cc79a7;
}

.dotColor0 {
  fill: white;
}

.dotColor1 {
  fill: white;
}

.dotColor2 {
  fill: white;
}

.dotColor3 {
  fill: black;
  stroke-width: 0px;
  stroke: black;
}

.dotColor4 {
  fill: white;
}

.border0 {
  border-color: #d55e00;
}

.border1 {
  border-color: #0072b2;
}

.border2 {
  border-color: #009e73;
}

.border3 {
  border-color: #f0e442;
}

.border4 {
  border-color: #cc79a7;
}

.dieSplit0 {
  margin-left: 0px;
  margin-right: 0px;
}

.dieSplit1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.dieSplit20 {
  transform: translate(1px, 1px);
  margin: 0;
}

.dieSplit21 {
  transform: translate(5px, -5px);
  margin: 0;
}

.dieSplit22 {
  margin: 0;
  transform: translate(-5px, 5px);
}
.dieSplit23 {
  margin: 0;
  transform: translate(-1px, -1px);
}

.dieHighlight {
  filter: brightness(1.2);
}

.highlight {
  filter: brightness(1.2);
  box-shadow: 0px 0px 1px 1px black, 1px 3px 6px 1px black;
}

.downlight {
  opacity: 0.6;
  box-shadow: 0px 0px 1px 1px black, 1px 3px 4px 0px black;
}
