* {
  /* border: 1px solid red; */
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f6f2;
}

button {
  margin: 2px;
}

.die {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin: 4px;

  box-shadow: 0px 0px 2px black, 1px 1px 1px black, 2px 2px 2px black,
    3px 3px 1px black;
  border: 1px solid black;
}

.dot {
  stroke-width: 2px;
  stroke: black;
}

.diceRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sums {
  margin: 2px;
  word-spacing: 10px;
}

.mountain {
  font-family: arial, sans-serif;
  padding: 0px;
  font-size: 16pt;
  margin: 0px !important;
  width: auto !important;
}

.mountainCol {
  padding: 0px !important;
  text-align: center;
  /* border: 1px solid green !important; */
}

.mountainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diceBoard {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quitMatchContainer {
  text-align: right;
  margin: 10px;
}

.scoreBoardContainer {
  width: 220px;
}

/* TODO rename those are stars (points) not players */
.scoreBoardPlayer {
  /* text-shadow: 2px 2px 3px black; */
  /* text-shadow: 1px 1px 2px #00000088, 1px 1px 1px #00000088; */
  font-size: 15pt;
  width: 20px;
}

.scoreBoard td {
  padding: 0px;
  margin: 0px;
}

.scoreBoardPlayerNameContainer {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2px;
}

.scoreBoardPlayerName {
  width: 130px;
  font-size: 10pt;
  border-radius: 9px;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  border: 2px solid transparent;
}

.scoreBoardPlayerNameCurrent {
  border: 2px solid black;
}

.mountainCell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 30px;
  min-height: 30px;
  max-width: 39px;
  min-width: 39px;
}

.climber {
  height: 17px;
  width: 17px;
  box-shadow: 0px 0px 4px -1px black, 1px 2px 3px 0px black;
  margin-right: -5px;
  margin-left: -5px;
  z-index: 999;
  opacity: 1;

  border-radius: 12px;
}

.climberCurrent {
  height: 16px;
  width: 16px;
  background-color: black;
  box-shadow: 0px 0px 1px 1px black, 1px 3px 4px 0px black;
  border: 2px solid white;
}

.climberGroup {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -30px;

  max-height: 30px;
  min-height: 30px;
  max-width: 39px;
  min-width: 39px;
}

.climberPlaceholder {
  font-weight: bold;
  font-size: 12pt;
  color: grey;

  border-radius: 20px;
  border: 2px solid grey;
  width: 15px;
  height: 15px;
}

.climberPlaceholderBlocked {
  border: 0px;
}

.climberPlaceholderWrap {
  max-height: 30px;
  min-height: 30px;
  max-width: 39px;
  min-width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colNumbers {
  width: 32px;
  height: 22px;
  font-size: 11pt;
}

.info {
  font-size: 20pt;
  height: 50px;
  width: 100%;
  padding-top: 3px;
  border-width: 3px;
}

.clients {
  display: flex;
}

.cantStopBoard {
  border-left: 2px dotted black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upperSection {
  display: flex;
  width: 100%;
}

.upperLeft {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upperRight {
  flex: 1;
  display: flex;
  align-items: center;
}

.upperCenter {
  padding: 8px;
}

.gameSetupPlayer {
  width: 400px;
  border: 2px;
  border-radius: 10px;

  padding: 5px;
  padding-left: 15px;
  margin-bottom: 10px;

  box-shadow: 1px 1px 2px black;
}

.gameSetupPlayerName {
  font-size: 20pt;
}

.gameSetupPlayerFree {
  background-color: white;
  border: 2px dotted grey;
  opacity: 0.5;
  color: grey;
  text-align: center;
  box-shadow: 0 0 0 white;
}

.gameSetupPlayerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameSetup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.matchIdContainer {
  align-self: flex-start;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  font-size: 12pt;
  font-weight: bold;
}

.playAgainContainer {
  align-self: flex-end;
}

.matchId {
  font-family: courier new;
  font-size: 12pt;
}

.color0 {
  color: #d55e00;
}

.color1 {
  color: #0072b2;
}

.color2 {
  color: #009e73;
}

.color3 {
  color: #f0e442;
}

.color4 {
  color: #cc79a7;
}

.bgcolor0 {
  color: white;
  background-color: #d55e00;
}

.bgcolor1 {
  color: white;
  background-color: #0072b2;
}

.bgcolor2 {
  color: white;
  background-color: #009e73;
}

.bgcolor3 {
  background-color: #f0e442;
  color: black;
}

.bgcolor4 {
  color: white;
  background-color: #cc79a7;
}

.dotColor0 {
  fill: white;
}

.dotColor1 {
  fill: white;
}

.dotColor2 {
  fill: white;
}

.dotColor3 {
  fill: black;
  stroke-width: 0px;
  stroke: black;
}

.dotColor4 {
  fill: white;
}

.border0 {
  border-color: #d55e00;
}

.border1 {
  border-color: #0072b2;
}

.border2 {
  border-color: #009e73;
}

.border3 {
  border-color: #f0e442;
}

.border4 {
  border-color: #cc79a7;
}
