@import "node_modules/bootstrap/scss/bootstrap";
@use "sass:math";

/* $debug: true; */
$debug: false;

// https://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height/25829844#25829844
html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  height: 100%;
  display: table-cell;
}

footer {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
}

#root,
.bgio-client {
  display: flex;
  height: 100% !important;
  width: 100%;
}

.backgroundWrap {
  // https://stackoverflow.com/a/31267758/1067132
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f7f6f2;
}

// Make sure the main content is on top of the background
.backgroundWrap > div {
  position: relative;
  z-index: 2;
}
.backgroundWrap > svg {
  z-index: 1;
}

body {
  font-family: Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 23px;
  }
}
@include media-breakpoint-down(lg) {
  html {
    font-size: 20px;
  }
}
@include media-breakpoint-down(md) {
  html {
    font-size: 17px;
  }
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 16px;
  }
}

button {
  margin: 2px;
}

$colors: #d55e00, #0072b2, #009e73, #f0e442, #cc79a7;

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  .color#{$i - 1} {
    color: $color;
  }

  .bgcolor#{$i - 1} {
    color: white;
    background-color: $color;
    border: 0.05rem solid transparent;
    border-color: $color;
  }

  button.bgcolor#{$i - 1},
  button.bgcolor#{$i - 1}:hover {
    color: white;
    background-color: $color;
    border: 1px solid transparent;
    border-color: $color;
  }

  .border#{$i - 1} {
    border-color: $color;
  }
}

/* third color - yellow - is special because too light. */
.bgcolor3 {
  color: black;
  background-color: #f0e442;
  border-color: black;
}

button.bgcolor3,
button.bgcolor3:hover {
  color: black;
  background-color: #f0e442;
  border-color: black;
}

@mixin cellDim($cell-height, $cell-width) {
  min-height: $cell-height;
  max-height: $cell-height;
  min-width: $cell-width;
  max-width: $cell-width;
}

.homeWrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.homeContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 2vw;
}

.gameSetup {
}

.homeTitle {
  font-weight: bold;
  text-align: center;
}

.homeWrap h2 {
  padding-top: 1.5rem;
}

.table {
  margin-bottom: 0;
}

.rightWrap {
  align-self: stretch;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.diceButtons {
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;
}

.boardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bandBegin,
.bandMiddle,
.bandEnd {
  flex: 1;
}

.mountainWrap {
  display: flex;
  justify-content: center;
}

.cantStopBoard {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  width: 100%;
}

#background {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.btn:hover,
.btn:focus,
.btn:active {
  filter: brightness(1.2);
}

.lastChoiceOtherPlayer:disabled {
  background-color: #000000;
}

@mixin setDice($diceSize) {
  $unit: $diceSize / 40;

  .die {
    width: $diceSize;
    height: $diceSize;
    border-radius: $diceSize / 10;
    margin: $diceSize / 15;

    box-shadow: $unit $unit $unit black, 2 * $unit 2 * $unit 2 * $unit black,
      $unit $unit $unit / 2 black;
    border: $unit solid black;
  }

  .diceContainer {
    width: $diceSize * 2.5;
    height: $diceSize * 2.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

$diceSize: 3.4rem;
@include setDice($diceSize);

.diceRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsWrap,
.fakeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fakeButtonsWrap {
  display: flex;
  flex-direction: row;
}

.fakeButton {
  display: flex;
  flex-direction: column;
  width: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  color: transparent !important;
  border-color: transparent !important;
  background-color: transparent !important;
}

.fakeButtonInside {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: transparent !important;
  border-color: transparent !important;
  background-color: transparent !important;
}

.fakeButtonInsideWrap {
  height: 0;
  display: flex;
  flex-direction: row;
}

.btnAction {
  margin: 0.1rem;
}

.dot {
  stroke-width: 0.1rem;
  stroke: black;
}

.possibilitiesWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mountain {
  font-family: arial, sans-serif;
  padding: 0;
  table-layout: fixed;
}

.mountainCol {
  padding: 0 !important;
  text-align: center;
  /* border: 1px solid green !important; */
}

.diceBoard {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreBoard {
  align-self: center;
}

.scoreBoard td {
  padding: 0;
  margin: 0;
}

.scoreBoardPlayerName {
  width: 9rem;
  border-radius: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border: 0.2rem solid transparent;
  font-size: 0.8rem;
  margin: 0.1rem;
}

.scoreBoardPlayerNameCurrent {
  border: 0.2rem solid black;
  filter: brightness(1.1);
}

.mountainCell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.climber {
  box-shadow: 0px 0px 4px -1px black, 1px 2px 3px 0px black;
  z-index: 999;
  opacity: 1;
  border-width: 0px;
  border-radius: 999px;
}

.climberCurrent {
  background-color: black;
  box-shadow: 0px 0px 1px 1px black, 1px 3px 4px 0px black;
  border-style: solid;
}

.climberGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 10rem;
}

.climberPlaceholder {
  border-radius: 0.3rem;
  background-color: #555555;
  width: 0.3rem;
  height: 0.3rem;
}

.climberPlaceholderWrap,
.colNumbersWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.climberPlaceholderParity0 {
  background-color: #555555;
}

.climberPlaceholderParity1 {
  background-color: #222222;
}

.colNumbers {
  border-radius: 0.4rem;
  font-size: 0.8rem;
}

.colParity0 {
  background-color: #555555;
  color: white;
}

.colParity1 {
  background-color: #222222;
  color: white;
}

.info {
  height: 2rem;
  width: 100%;
  padding: 0;
  margin: 0;
  border-left: 0;
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeLink * {
  display: inline-block;
}

.info .logoRow {
  display: flex;
}

.info .logoWrap {
  margin: 0.2rem;
}

.info .logoWrap .die {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 0.12rem;
  box-shadow: 1px 1px 2px black;
  margin: 1px;
}

.message {
  flex: 1;
}

.diceBoardButtonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyStar {
  color: #f7f6f2;
  text-shadow: 0px 0px 1px black;
}

.playerNameForm div {
  margin: 0;
}

.playerNameFormButtonWrap {
  text-align: right;
}

.gameSetupWrap {
  display: table;
  width: 100%;
  height: 100%;
}

.gameSetupPlayersWrap {
  display: table-row;
  width: 100%;
  height: 100%;
}

.gameSetupPlayersWrap > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameSetupPlayer {
  width: 100vw;
  max-width: 30rem;
  border-radius: 10px;
  // No border not event for yellow
  border: 0px;

  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.1rem;

  box-shadow: 1px 1px 2px black;
}

.gameSetupPlayerFree {
  background-color: white;
  border: 2px dotted grey;
  opacity: 0.5;
  color: grey;
  text-align: center;
  box-shadow: 0 0 0 white;
}

.gameSetupInviteWrap {
}

.inviteLink {
  font-size: 100%;
}

.copyBtn {
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 0.5rem;

  // For some reason it's weirdly aligned
  margin-top: -3px;
}

.playAgainWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchId {
  font-family: courier new;
  font-size: 12pt;
}

.dotColor0,
.dotColor1,
.dotColor2,
.dotColor4 {
  fill: white;
}

.dotColor3 {
  fill: black;
  stroke-width: 0;
  stroke: black;
}

.dieSplit0 {
  margin-left: 0;
  margin-right: 0;
}

.dieSplit1 {
  margin-top: 0;
  margin-bottom: 0;
}

.dieSplit20 {
  transform: translate(0.05rem, 0.05rem);
  margin: 0;
}

.dieSplit21 {
  transform: translate(0.3rem, -0.3rem);
  margin: 0;
}

.dieSplit22 {
  margin: 0;
  transform: translate(-0.3rem, 0.3rem);
}
.dieSplit23 {
  margin: 0;
  transform: translate(-0.05rem, -0.05rem);
}

.dieHighlight {
  filter: brightness(1.2);
}

.highlight {
  filter: brightness(1.2);
  box-shadow: 0px 0px 1px 1px black, 1px 3px 6px 1px black;
}

.downlight {
  opacity: 0.6;
  box-shadow: 0px 0px 1px 1px black, 1px 3px 4px 0px black;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numVictoriesCol {
  min-width: 2.5rem;
  text-align: right;
}

.megaWrap {
  flex: 1;
  display: flex;
  flex-direction: row;
}

// height /width for one cell
$mountainRatio: 0.75;
@mixin cellSize($height) {
  $width: $height / $mountainRatio;

  $neg-margin: $width * -0.3;
  $climberSize: $width * 0.4;
  $colNumWidth: $width * 0.85;
  $currentClimberSize: $climberSize;
  $currentClimberBorder: $width * 1/20;
  $mountainWidth: $width * 11;
  $blockedSize: $width * 0.35;

  .mountain {
    width: $mountainWidth;
  }

  .climberPlaceholderWrap,
  .colNumbersWrap,
  .climberGroup,
  .mountainCell {
    @include cellDim($height, $width);
  }
  .climberGroup {
    margin-top: -$height;
  }

  .climber {
    height: $climberSize;
    width: $climberSize;
    /* box-shadow: 0px 0px 4px -1px black, 1px 2px 3px 0px black; */
    margin-right: $neg-margin;
    margin-left: $neg-margin;
  }

  .climberCurrent {
    height: $currentClimberSize;
    width: $currentClimberSize;
    border-width: $currentClimberBorder !important;
  }

  .climberPlaceholderBlocked {
    border-radius: 999px;
    border: 0px solid transparent;
    width: $blockedSize !important;
    height: $blockedSize !important;
  }

  .colNumbers {
    width: $colNumWidth;
    font-size: $width / 3.5;
    border-radius: $width / 7;
    /* font-size: $width / 4; */
  }
}

.bigHspace {
  flex: 1;
}

.diceButtonsBefore,
.diceButtonsAfter {
  flex: 1;
}

.diceButtonsMiddle {
  flex: 0.5;
}

// Default is really tall not wide
// In that case we want the mountain to take the full width
$width: 96vw / 11;
$height: $width * $mountainRatio;
@include cellSize($height);

@if $debug {
  * {
    border: 1px solid red;
  }
}

// As we get closer to a square, we want to use some ratio of the height of the device
// as the side of our mountain square
@media (min-aspect-ratio: 3/5) {
  @include cellSize(0.5 * 100vh / 14);
  @if $debug {
    * {
      border: 1px solid orange;
    }
  }
}

@media (min-aspect-ratio: 1/1) {
  $width: 60vw / 11;
  $height: $width * $mountainRatio;
  @include cellSize($height);
  @if $debug {
    * {
      border: 1px solid gold;
    }
  }
}

@media (min-aspect-ratio: 1/1) {
  .rightWrap {
    flex-direction: column;
  }

  .megaWrap {
    flex-direction: column;
  }

  .bandMiddle {
    flex: 0.1;
  }

  .boardContent {
    flex-direction: row;
  }

  .diceButtons {
    flex-direction: column;
  }
  @if $debug {
    * {
      border: 1px solid orange;
    }
  }
}

@media (min-aspect-ratio: 4/3) {
  @include cellSize(80vh / 14);

  @if $debug {
    * {
      border: 1px solid green;
    }
  }
}

@media (min-aspect-ratio: 3/2) {
  @include cellSize(80vh / 14);

  .diceButtons {
    flex-direction: row;
  }
  .bandMiddle {
    flex: 0.2;
  }
  @if $debug {
    * {
      border: 1px solid blue;
    }
  }
}
@media (min-width: 800px) and (min-height: 800px) and (min-aspect-ratio: 3/2) {
  .diceButtons {
    flex-direction: column;
  }
  .bandMiddle {
    flex: 0;
  }
  @if $debug {
    * {
      border: 1px solid purple;
    }
  }
}

// Tweaks per bootstrap breakpoints.
// On a super big screen that is a nice "normal" rectangle, we don't make the mountain
// as big.

@media (min-width: 1200px) and (min-height: 900px) and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 7/3) {
  @include cellSize(65vh / 14);
  @if $debug {
    * {
      border: 1px solid pink;
    }
  }
}
