body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-size: 18pt; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 2px;
}

.die {
  width: 50px;
  height: 50px;
  color: #222222;
  background-color: lightgrey;

  display : flex;
  align-items : center;
  justify-content: center;

  font-size: 16pt;
  font-weight: bold;
  box-shadow: 1px 1px 1px black, 2px 2px 2px black;
  border-radius: 4px;

  margin: 10px;
}

.diceRow{
  display : flex;
  align-items : center;
  justify-content: center;
}

.sums {
  margin: 2px;
  word-spacing: 10px;

}

table.mountain {
  width: auto;
  /* margin: 0px auto; */
  padding: 0px;
  font-size: 16pt;
}

table.mountain td {
  width: 45px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.diceBoard {
  text-align: center;
  display:flex;
  align-items : center;
  justify-content: center;
}

.color0 {
  color: #d55e00;
}

.color1 {
  color: #0072b2;
}

.color2 {
  color: #f0e442;
}

.color3 {
  color: #009e73;
}

.color4 {
  color: #cc79a7;
}

.bgcolor0 {
  background-color: #d55e00;
}

.bgcolor1 {
  background-color: #0072b2;
}

.bgcolor2 {
  background-color: #f0e442;
}

.bgcolor3 {
  background-color: #009e73;
}

.bgcolor4 {
  background-color: #cc79a7;
}

.climber {
  display:inline;
  font-size: 20pt;
  position: relative;
  margin: -7px;
  text-shadow: 0.5px 0.5px 2px black, 0.5px 0.5px 1px black, .5px .5px 5px #dddddd;
}

.scoreBoardPlayer {
  text-shadow: 1px 1px 2px #00000088, 0.5px 0.5px 1px #00000088;
  font-size: 15pt;
  width: 20px;
}

.scoreBoard td {
  padding: 0px;
  margin: 0px;
}

.climberGroup {
  position: relative;
  height: 0px;
  top: -38px;
}

.info {
  height: 50px;
}

.clients {
  display:flex;
}

.cantStopBoard {
  border-left: 2px dotted black;
}

.upperSection {
  display: inline-block;
  width: 100%;
}

.upperLeft {
  float: left;
}

.upperCenter {
  float:left;
  /* To center the dice */
  margin-left: 137px;
}

.playerBanner {
  height: 5px;
}

/* * { */
/*   border: 1px solid red; */
/* } */
